@page "/home"
@page "/"

@inject IStringLocalizer<Index> L

<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <div class="d-flex justify-center mt-4">
                 <img src="full-stack-hero-logo.jpg" Style="height:250px" />
            </div>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h5" Class="smaller">@L["MAAN's"]</MudText>
         <MudText Align="Align.Center" Typo="Typo.h4">@L["REPORT MANAGEMENT SYSTEM"]</MudText>

        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center">
                @L["Online Portal for "] @L["Monthly Report Activities of"]
            </MudText>
            <MudText Align="Align.Center">
                @L["Majlis Ansarullah Ahmadiyya"] Nigeria.
            </MudText>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
             <MudText Align="Align.Center">@L["Version 1.0"]</MudText>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = default!;

    public IEnumerable<Claim>? Claims { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;
        Claims = authState.User.Claims;
    }
}